# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
df1 =pd.read_csv(r'C:\Users\juana\OneDrive\Escritorio\ironhack\lab-dw-data-cleaning-and-formatting\clientes_limpios.csv')
df2=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df3=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [2]:
df2['Number of Open Complaints']=df2['Number of Open Complaints'].apply(lambda x: [int(i) for i in x.split('/')][1])

In [3]:

print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [4]:
df2=df2.rename(columns={
    'Customer':'customer',
    'ST':'state',
    'State':'state',
    'GENDER':'gender',
    'Education':'education',
    'Customer Lifetime Value':'customer_lifetime_value',
    'Income':'income',
    'Monthly Premium Auto':'monthly_premium_auto',
    'Number of Open Complaints':'number_of_open_complaints',
    'Policy Type':'policy_type',
    'Vehicle Class':'vehicle_class',
    'Total Claim Amount':'total_claim_amount'
})
df3=df3.rename(columns={
    'Customer':'customer',
    'ST':'state',
    'State':'state',
    'GENDER':'gender',
    'Gender':'gender',
    'Education':'education',
    'Customer Lifetime Value':'customer_lifetime_value',
    'Income':'income',
    'Monthly Premium Auto':'monthly_premium_auto',
    'Number of Open Complaints':'number_of_open_complaints',
    'Policy Type':'policy_type',
    'Vehicle Class':'vehicle_class',
    'Total Claim Amount':'total_claim_amount'

})
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [5]:
dft=pd.concat([df1,df2,df3],axis=0)

dft.head()
rows=len(dft)
print(rows)
dft.nunique()
df2.iloc[966:990]

9138

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
966,GP67816,California,F,High School or Below,2320839.42%,60233,116,0,481.265179,Personal Auto,Two-Door Car
967,PW51793,Oregon,M,Bachelor,732589.27%,52920,93,0,1101.054320,Personal Auto,Four-Door Car
968,UF59346,California,M,Bachelor,417034.07%,90310,104,0,166.355491,Personal Auto,SUV
969,FG29932,California,M,College,784016.58%,58414,210,2,1008.000000,Special Auto,Luxury SUV
970,UX71137,Washington,F,Doctor,887596.55%,69205,110,0,372.362565,Personal Auto,Four-Door Car
971,BY54111,Oregon,M,High School or Below,1937890.78%,21159,73,0,350.400000,Personal Auto,Four-Door Car
972,RM83767,Washington,M,College,597099.57%,64008,85,5,372.893812,Personal Auto,Four-Door Car
973,PT15464,Arizona,F,Bachelor,914887.79%,68236,114,0,20.725611,Personal Auto,SUV
974,BP92643,Arizona,F,High School or Below,1377097.62%,59207,116,0,556.800000,Personal Auto,Four-Door Car
975,BW94308,Washington,F,High School or Below,2009689.34%,92766,71,0,379.029102,Personal Auto,Two-Door Car
976,GQ46925,Arizona,M,High School or Below,582168.43%,77563,143,0,545.999699,Personal Auto,Sports Car
977,RF14806,Arizona,F,College,309580.34%,33415,78,0,374.400000,Personal Auto,Four-Door Car
978,KJ23009,California,F,Bachelor,1059854.25%,20179,133,1,638.400000,Corporate Auto,SUV
979,IB81655,California,M,Bachelor,769512.30%,50147,101,0,484.800000,Personal Auto,SUV
980,SV62436,Washington,NaN,Bachelor,304179.16%,13789,79,0,379.200000,Personal Auto,Four-Door Car
981,HR64684,Oregon,M,Master,868982.25%,0,99,5,475.200000,Personal Auto,Four-Door Car
982,QS96715,Nevada,F,High School or Below,813177.92%,93715,102,2,254.837690,Personal Auto,SUV
983,SW55711,Oregon,M,High School or Below,381532.16%,23540,103,2,494.400000,Corporate Auto,Two-Door Car
984,LZ19268,California,F,College,1163889.95%,25370,102,0,489.600000,Personal Auto,Sports Car
985,FU74983,Nevada,F,Bachelor,2280053.54%,68771,96,0,276.268778,Personal Auto,Four-Door Car
986,KB99097,California,F,Bachelor,446299.70%,0,73,3,350.400000,Special Auto,Two-Door Car
987,AP52126,Oregon,F,College,1315183.20%,68562,108,0,228.498823,Personal Auto,SUV
988,EX61844,Arizona,M,High School or Below,1401997.55%,36733,71,0,327.078047,Personal Auto,Four-Door Car
989,QC30857,Nevada,F,College,293115.52%,45768,73,0,191.934494,Personal Auto,Two-Door Car

In [6]:
#empiezo limpieza de data
dft.dtypes

dft['gender'].unique()
#limpiar por columnas

dft['gender']=dft['gender'].replace({
    'female':'F',
    'Male':'M'
    })
dft['state']=dft['state'].replace({
    'AZ':'Arizona',
    'Male':'M'
    })
dft['education']=dft['education'].replace({
    'Bachelors':'Bachelor'})
dft['vehicle_class']=dft['vehicle_class'].replace({
    'SUV':'Luxury',
    'Luxury Car':'Luxury',
    'SUV':'Luxury',
    'Luxury SUV':'Luxury',
    'Sports Car':'Luxury'
    })
dft['vehicle_class'].unique()
dft.head(30)
dft.tail(30)

df2.tail(30)

#cambiar tipos erroneos
dft['customer_lifetime_value']=dft['customer_lifetime_value'].replace({
    '%':''
})
dft.iloc[966:990]
dft['customer_lifetime_value']=pd.to_numeric(dft['customer_lifetime_value'],errors='coerce')
dft.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [7]:


dft['number_of_open_complaints'] = dft['number_of_open_complaints'].astype(str)
dft['number_of_open_complaints'] = dft['number_of_open_complaints'].str.split('/').str[1]
dft['number_of_open_complaints']=pd.to_numeric(dft['number_of_open_complaints'],errors='coerce')
dft.iloc[966:990]

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
966,OB49075,Arizona,M,Bachelor,4.458113e+05,17622.0,65.0,NaN,Personal Auto,Four-Door Car,312.000000
967,DS97676,Oregon,F,College,2.555051e+05,0.0,72.0,NaN,Personal Auto,Four-Door Car,518.400000
968,JO63462,California,M,Bachelor,3.307999e+05,79797.0,84.0,NaN,Corporate Auto,Two-Door Car,31.755601
969,NJ10602,Washington,F,College,8.459053e+05,92717.0,70.0,NaN,Personal Auto,Two-Door Car,224.275820
970,RS24501,Oregon,F,College,1.335012e+06,28919.0,173.0,NaN,Personal Auto,Luxury,830.400000
971,VT78274,Arizona,M,College,4.931221e+05,0.0,68.0,NaN,Personal Auto,Four-Door Car,480.159011
972,SU56153,Nevada,M,Bachelor,7.776835e+05,63568.0,65.0,NaN,Corporate Auto,Two-Door Car,390.792553
973,MN20737,Nevada,F,College,2.553672e+05,73935.0,64.0,NaN,Corporate Auto,Four-Door Car,72.071195
974,KL43114,Arizona,F,High School or Below,4.876470e+05,0.0,66.0,NaN,Corporate Auto,Two-Door Car,316.800000
975,YQ15567,Oregon,F,Bachelor,9.034306e+05,18846.0,115.0,NaN,Personal Auto,Luxury,552.000000
976,TR88637,Arizona,F,High School or Below,8.105911e+05,38893.0,103.0,NaN,Personal Auto,Luxury,41.965252
977,TC88986,Oregon,M,High School or Below,5.619689e+05,0.0,153.0,NaN,Special Auto,Luxury,1027.000029
978,XX88577,California,M,Bachelor,1.572713e+06,84824.0,196.0,NaN,Corporate Auto,Luxury,319.820747
979,NE49052,California,F,High School or Below,6.618016e+05,20068.0,86.0,NaN,Corporate Auto,Four-Door Car,411.011162
980,KX17826,Oregon,M,Doctor,4.670048e+05,0.0,125.0,NaN,Corporate Auto,Luxury,600.000000
981,CC91503,Arizona,F,High School or Below,1.016937e+06,0.0,135.0,NaN,Personal Auto,Luxury,648.000000
982,WH32183,California,M,Bachelor,8.323074e+05,97245.0,70.0,NaN,Personal Auto,Four-Door Car,4.110585
983,ES90681,California,F,College,2.417760e+05,51808.0,61.0,NaN,Personal Auto,Four-Door Car,351.149904
984,DW96592,California,M,Bachelor,8.044872e+05,71391.0,67.0,NaN,Personal Auto,Four-Door Car,284.000172
985,MT23134,Oregon,M,High School or Below,5.325724e+05,0.0,73.0,NaN,Personal Auto,Two-Door Car,496.474767
986,BM69081,Arizona,M,Bachelor,6.947524e+05,0.0,100.0,NaN,Personal Auto,Luxury,925.137143
987,MB90871,Oregon,F,College,5.847415e+05,23496.0,77.0,NaN,Special Auto,Four-Door Car,13.164097
988,GT62080,Washington,M,High School or Below,7.936903e+05,55561.0,63.0,NaN,Personal Auto,Four-Door Car,227.872071
989,QL77686,Nevada,F,College,4.724786e+05,23986.0,119.0,NaN,Corporate Auto,Luxury,463.335061

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [10]:
pdi=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [11]:
pdi.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [12]:
len(pdi)

10910

In [13]:
pdi.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [18]:
pdi.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [16]:
# Crear pivot table para total revenue por canal de ventas
pivot_revenue = pd.pivot_table(
    pdi,
    values='total_claim_amount',
    index='sales_channel',
    aggfunc='sum'
).round(2)

# Ordenar de mayor a menor
pivot_revenue = pivot_revenue.sort_values(by='total_claim_amount', ascending=False)

print(pivot_revenue)

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [23]:
#2. Create a pivot table that shows the average customer lifetime value per gender and education
#  level. Analyze the resulting table to draw insights.
pivot_value=pd.pivot_table(
    pdi,
    values='customer_lifetime_value',
    index={'gender','education'},
    aggfunc='mean'
).round(0).sort_values(by='customer_lifetime_value',ascending=False)
print(pivot_value)

                             customer_lifetime_value
education            gender
High School or Below F                        8675.0
Master               M                        8169.0
                     F                        8157.0
High School or Below M                        8150.0
College              M                        8052.0
Bachelor             F                        7874.0
College              F                        7749.0
Bachelor             M                        7704.0
Doctor               M                        7415.0
                     F                        7329.0

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

In [24]:
# Asegro de que 'month' esté en formato texto si no lo está
pdi['month'] = pdi['month'].astype(str)

# Agrupamos por mes y tipo de póliza, y contamos las quejas
complaints_summary = (
    pdi.groupby(['policy_type', 'month'])['number_of_open_complaints']
    .count()
    .reset_index()
    .rename(columns={'number_of_open_complaints': 'number_of_complaints'})
)

In [25]:
# Ordenamos por número de quejas descendente
complaints_summary = complaints_summary.sort_values(by='number_of_complaints', ascending=False)

In [26]:
print(complaints_summary)

      policy_type month  number_of_complaints
2   Personal Auto     1                  4329
3   Personal Auto     2                  3799
0  Corporate Auto     1                  1252
1  Corporate Auto     2                  1089
4    Special Auto     1                   237
5    Special Auto     2                   204

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [9]:
# Your code goes here